<div class="w-full">
    <div class="font-[sans-serif]">
      <div class="min-h-screen flex flex-col items-center justify-center">
        <div
          class="grid md:grid-cols-2 grid-cols-1 items-center bg-slate-100 gap-4 max-w-6xl w-full shadow-[0_2px_10px_-3px_rgba(6,81,237,0.3)] rounded-md"
        >
          <!-- Form Section -->
          <div class="w-full p-6">
            <router-outlet></router-outlet>
          </div>
  
          <!-- Image Section, hidden on small screens -->
          <div class="hidden md:block w-full h-auto md:h-full bg-[#000842] rounded-xl">
            <img
              src="https://readymadeui.com/signin-image.webp"
              class="w-full h-full object-contain"
              alt="login-image"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
  